@import "variables";
@import "mixins";

.quizScore {
  flex: 25%;
  border: 2px solid $borderColor;
  @include flex(space-evenly, none, column);
  .profit {
    @include widthHeightBorder(80%, 80%, 1px solid $fieldsColor);
    background-color: $fieldsColor;
    font-size: 1.7em;
    margin: auto;
    @include flex(space-evenly, none, column);
    padding: 1em 1em 0 1em;
  }

  .points {
    text-align: center;
    font-size: 1.2em;
  }
  .money {
    padding-left: 20px;
    color: $gold;
  }
  .guaranteed {
    color: $textColor;
  }
  .markMoney {
    background-color: $gold;
    color: black;
  }
}
.scoreShow {
  @extend .quizScore;
}

@include responsive(laptopM) {
  .money {
    font-size: 0.8em;
  }
  .quizScore .points {
    font-size: 0.9em;
  }
}
@include responsive(laptopS) {
  .money {
    font-size: 0.75em;
  }
}
@include responsive(tablet) {
  .quizScore {
    flex: 100%;
    position: absolute;
    width: 50%;
    height: 100%;
    right: -50%;
    background-color: $backgroundColor;
    display: none;
  }
  .scoreShow {
    flex: 100%;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    display: block;
    border: 2px solid $backgroundColor;
  }
  .money {
    font-size: 1em;
  }
}
@include responsive(mobileL) {
  .quizScore {
    width: 100%;
    right: -100%;
  }
  .scoreShow {
    width: 100%;
    right: 0;
  }
  .money {
    font-size: 0.8em;
  }
}
