@import "variables";
@import "mixins";

.quizScore {
  flex: 25%;
  border: 2px solid $borderColor;
  @include flex(space-evenly, none, column);
  .profit {
    @include widthHeightBorder(80%, 80%, 1px solid $fieldsColor);
    background-color: $fieldsColor;
    font-size: 1.7em;
    margin: auto;
    @include flex(space-evenly, none, column);
    padding: 1em 1em 0 1em;
  }

  .points {
    text-align: center;
    font-size: 1.2em;
  }
  .money {
    padding-left: 20px;
    color: $gold;
  }
  .guaranteed {
    color: $textColor;
  }
  .markMoney {
    background-color: $gold;
    color: black;
  }
}
@include responsive(tablet) {
  .quizScore {
    position: absolute;
    width: 50%;
    height: 100%;
    right: -55%;
    background-color: $backgroundColor;
  }
  .quizScoreShow {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: $backgroundColor;
    right: 0;
  }
}
@include responsive(mobileL) {
  .quizScore {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -105%;
    background-color: $backgroundColor;
  }
  .quizScoreShow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    right: 0;
  }
}
