.btn {
  font-size: 1.2em;
  padding: 0.3em 0.6em;
  border: 3px solid $borderColor;
  background-color: $fieldsColor;
  color: $textColor;
  border-radius: 2em;
  cursor: pointer;
  &:hover {
    color: $hoverTxt;
  }
}
.btn-question {
  @extend .btn;
  &:hover {
    background-color: $green;
  }
}
.btn-giveUp {
  @extend .btn;
  &:hover {
    background-color: $red;
  }
}

.disabled {
  @extend .btn-question;
  opacity: 0.3;
  &:hover {
    background-color: $backgroundColor;
    color: $textColor;
    cursor: not-allowed;
  }
}
