@mixin flex($content, $align, $direction) {
  display: flex;
  justify-content: $content;
  align-items: $align;
  flex-direction: $direction;
}

@mixin widthHeightBorder($width, $height, $border) {
  width: $width;
  height: $height;
  border: $border;
}

@mixin responsive($value) {
  @if $value == laptopM {
    @media screen and(max-width: 1280px) {
      @content;
    }
  } @else if $value == laptopS {
    @media screen and(max-width: 1024px) {
      @content;
    }
  } @else if $value == tablet {
    @media screen and(max-width: 768px) {
      @content;
    }
  } @else if $value == mobileL {
    @media screen and(max-width: 425px) {
      @content;
    }
  } @else if $value == mobileS {
    @media screen and(max-width: 320px) {
      @content;
    }
  }
}
