#options {
  width: 80%;
  @include flex(space-between, none, row);
  flex-wrap: wrap;
  margin-bottom: 40px;

  .option {
    @include widthHeightBorder(47%, 70px, 4px solid $borderColor);
    border-radius: 2em;
    background-color: $fieldsColor;
    margin-top: 1.5em;
    cursor: pointer;
    @include flex(center, center, row);
    font-size: 1.6em;
    color: $textColor;

    span {
      color: $gold;
    }

    &:hover {
      border: 4px solid $hoverBorder;
    }
  }

  .green {
    @extend .option;
    background-color: $success;
  }
  .red {
    @extend .option;
    background-color: $danger;
  }

  @include responsive(tablet) {
    @include flex(center, center, column);
    .option {
      @include widthHeightBorder(80%, 50px, 4px solid $borderColor);
      margin-top: 1em;
      font-size: 1.4em;
    }
  }
  @include responsive(mobileL) {
    .option {
      @include widthHeightBorder(95%, 50px, 4px solid $borderColor);
      font-size: 1.2em;
    }
  }
  @include responsive(mobileS) {
    .option {
      font-size: 1em;
    }
  }
}
