#options {
  width: 80%;
  @include flex(space-between, none, row);
  flex-wrap: wrap;
  margin-bottom: 40px;

  .option {
    @include widthHeightBorder(47%, 70px, 4px solid $borderColor);
    border-radius: 2em;
    background-color: $fieldsColor;
    margin-top: 1.5em;
    cursor: pointer;
    @include flex(center, center, row);
    font-size: 1.6em;
    color: $textColor;

    span {
      color: $gold;
    }

    &:hover {
      border: 4px solid $hoverBackground;
    }
  }

  .green {
    @extend .option;
    background-color: $green;
  }
  .red {
    @extend .option;
    background-color: $red;
  }
}
