$backgroundColor: #051e69;
$borderColor: #668cff;
$fieldsColor: #000d53;
$textColor: white;
$gold: gold;
$hoverBackground: orange;
$hoverTxt: black;
$pitanjeHover: lightgreen;
$odustaniHover: tomato;
