@import "variables";
@import "mixins";
@import "buttons";

.startQuiz {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  @include widthHeightBorder(100%, 100%, none);
  background-color: $backgroundColor;
  @include flex(center, center, row);
  button {
    @extend .btn;
    font-size: 2em;
    &:hover {
      background-color: $success;
    }
  }
}

.hide {
  @extend .startQuiz;
  top: -100%;
  transition: all 1s ease-in-out;
}

.endQuiz {
  top: -100%;
  @extend .startQuiz;
  @include flex(center, center, column);

  h1 {
    padding-bottom: 1em;
  }

  button {
    font-size: 1.5em;
  }
}
.show {
  @extend .endQuiz;
  top: 0;
  transition: all 2s ease-in-out;
}

#friendHelp {
  background-color: black;
  border: 2px solid $borderColor;
  width: 35%;
  height: 30%;
  position: absolute;
  top: 12%;
  left: 20%;
  z-index: 5;
  @include flex(space-evenly, center, column);

  img {
    width: 80px;
    border-radius: 50%;
    background-color: transparent;
  }
  button {
    @extend .btn;
    background-color: transparent;
    border: 2px solid $borderColor;
    font-size: 1em;
  }
  @include responsive(tablet) {
    width: 50%;
    left: 25%;
  }
  @include responsive(mobileL) {
    width: 80%;
    left: 10%;
    top: 25%;
  }
}

#audienceHelp {
  @extend #friendHelp;
  top: 7%;
  height: 360px;
  .colHolder {
    @include widthHeightBorder(100%, 200px, none);
    @include flex(space-evenly, center, row);
    .col {
      @include widthHeightBorder(40px, 100%, 2px solid $borderColor);
    }
  }
  .markHolder {
    @include widthHeightBorder(67%, 40px, none);
    @include flex(space-between, center, row);
  }
  .column {
    @include widthHeightBorder(35px, 50%, none);
    background-color: $backgroundColor;
    margin-top: 98px;
  }
  .column1 {
    @include widthHeightBorder(35px, 25%, none);
    background-color: $backgroundColor;
    margin-top: 147px;
  }
  .column2 {
    @include widthHeightBorder(35px, 15%, none);
    background-color: $backgroundColor;
    margin-top: 167px;
  }
  .column3 {
    @include widthHeightBorder(35px, 10%, none);
    background-color: $backgroundColor;
    margin-top: 177px;
  }

  @include responsive(tablet) {
    width: 50%;
    left: 25%;
  }
  @include responsive(mobileL) {
    width: 80%;
    left: 10%;
    top: 10%;
  }
}
